<!-- Form for creating New Group -->
<div class="container-fluid">
  <legend><h1>Create a new Group</h1></legend>
      
    <div class="row">
      <div class="form-group col-xs-5 col-lg-4 col-md-4">      
      </div>
      <div class="form-group col-xs-5 col-lg-4 col-md-4">      
      <%= form_for(@group) do |f| %> 
      <!-- To display any errors which may occur while group creation like name should be present -->
        <% if @group.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
            <ul>
              <% @group.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>        
        <!-- Form Fields for getting information about the new group -->    
    <div class="row">   
      <div class="form-group col-xs-4 col-lg-4 col-md-4">      
      </div>
      <div class="form-group col-xs-4 col-lg-4 col-md-4">           
        <div class="row">
          <div class="col-md-4 col-xs-4"> <%= f.label :Name %></div>
          <div class="col-md-4 col-xs-4"> <%= f.text_field :name, placeholder: "Minimum 5 characters"  %> </div>
        </div>
        <br>
      </div>
    </div>

    <div class="row">   
      <div class="form-group col-xs-4 col-lg-4 col-md-4">      
      </div>
      <div class="form-group col-xs-4 col-lg-4 col-md-4">           
        <div class="row">
          <div class="col-md-4 col-xs-4"> <%= f.label :Description %></div>
          <div class="col-md-4 col-xs-4"> <%= f.text_area :desc %> </div>
        </div>
        <br>
      </div>
    </div>
    
    <div class="row">
      <div class="form-group col-xs-4 col-lg-4 col-md-4">  
      </div>
      <div class="form-group col-xs-4 col-lg-4 col-md-4">               
        <div class="row">
          <div class="col-md-4 col-xs-4">
            <%= f.label :"Group Type" %>
          </div>
          <div class="col-md-4 col-xs-4">  
            Public: <%= f.radio_button :is_public, true, label: "Public", checked: true , class: "form-check"%>
            Private: <%= f.radio_button :is_public, false, label: "Private",class: "form-check" %>
            <%= f.hidden_field :created_by, value: "#{current_user.name}" %>
          </div>
        </div>
      </div>
    </div>
    
      <h3>Select Group Members</h3>
          <!-- Nested model form for selecting users after creation of group -->
    <div class="row">
      <div class="form-group col-xs-5 col-lg-4 col-md-4">  
      </div>
      <div class="form-group col-xs-5 col-lg-4 col-md-4">  
        <%= f.fields_for :memberships, @memberships do |member| %>
          <% if member.object.user.name != current_user.name %>
            <div class="row">
              <div class="col-md-4 col-xs-4">
                <%="#{member.object.user.name}"%>
              </div>
              <div class="col-md-2 col-xs-4">
                <%= member.check_box :user_id, {checked: false}, member.object.user.id, nil %>
              </div>
            </div>
            <br>    
          <% end %>
        <% end %>
      </div>
    </div>      
    <center>    
    <%= f.submit "Create group",class: "btn btn-success", id: "abcdef" %>
    </center>
    <% end %>
</div>
