<h1>New Post </h1>
<div class="container">
  <div class="row">
    <div class="form-group col-xs-4 col-lg-4 col-md-4">
    </div>   
    <div class="form-group col-xs-4 col-lg-4 col-md-4">
    <%= bootstrap_form_for [@group, @post], url: group_posts_path do |f|%>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this item from being saved:</h2>
          <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>  
  <div class="row">
    <div class="form-group col-xs-4 col-lg-4 col-md-4">
    </div>   
    <div class="form-group col-xs-4 col-lg-4 col-md-4">
      <p>
        <%= f.text_field :title%>  
      </p>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-4 col-lg-4 col-md-4">
    </div>   
    <div class="form-group col-xs-4 col-lg-4 col-md-4">  
    <p>
      <%= f.text_area :body %>
      <% f.hidden_field :user_id, value: "#{current_user.id}" %></p>    
    </div>
  </div>  
    <p>
       <%= f.submit %>
    </p>
    <% end %>
  </div>
</div>